[flake8]
max-line-length = 88
ignore = E501,W503,B008
exclude =
    __init__.py
    __pycache__
    settings.py
    env
    .env
    .venv
    .github
    .pytest_cache
classmethod-decorators =
    classmethod
    validator
    root_validator
